body{
    margin:0px;
    padding:0px;
    font-size: 13px;
    font-family: Arial;

}
a{
    text-decoration:none;
}
#container{
    width: 1200px;
    height: 900px;
    margin: 10px auto;
    text-align: left;

}
#login{
    background: #f9faed;
}
h3{
    margin-left: 20px;
}
dt{

    float: left;

}

#commodity{
    margin-left: 200px;
    clear: left;
}
#commodity img{
    margin:0px 20px 20px 20px;
    float: left;
    height: 100px;


}
.comm{

    float: left;
    margin-left: 20px;
}
dl{

}
dt{
    clear: left;
}
dt,dd{
    float: left;
    margin-top: 10px;

}
dd{
    text-overflow:ellipsis;
    width: 200px;
    height: 15px;
    margin-left: 10px;
    overflow:hidden;
}
li{
    list-style-type: none;
}
#page{
    width: 800px;
    text-align: center;
    font-size: 15px;
    clear: left;

}
#pageMessage{
    clear: left;
    width: 800px;
    height: 50px;
    margin-left: 200px;
    text-align: center;
}
#pageMessage h3{float: left}
#foot{
    clear: left;
}
#foot p{
    text-align: center;
}